* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url('/static/images/bg_new.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

main {
    flex: 1 0 auto;
    padding-bottom: 0;
}

header {
    font-family: "Dancing Script", cursive;
    font-weight: 500;
    font-size: 1.5em;
    flex: 0 0 10vh;
    }
.navbar-brand {
    font-family: "Dancing Script", cursive;
    font-weight: 600;
    font-size: 2em;
    color: rgba(253, 4, 211, 0.8) !important;
    }
.navbar.bg-dark {
    background-color: #000000 !important;
    }
    
footer {
    flex: 0 0 10vh;
    min-height: 15vh;
    overflow: hidden;
}
footer.bg-dark {
    background-color: #000000 !important;
    color: rgba(255, 255, 255, 0.5) !important;
}
.container {
    min-height: 100%;
}

#carouselgallery .carousel-item {
    min-height: 80vh; 
    width: 100%;
}
#carouselgallery .carousel-item img {
    height: 80vh;
    object-fit: cover;
    width: 100%;
}
.card.mb-3 {
    width: 80%;
    overflow: hidden; 
    }
    
.card-body {
    overflow-y: auto; 
    }

.card-title {
    color: rgba(253, 4, 211, 0.6);
    font-family: "Dancing Script", cursive;
    font-size: xx-large;
}

.card-text {
    color: rgba(255, 255, 255, 0.7);
    font-family: 'Dosis', sans-serif;
    font-weight: 600;
    font-size: large;
}
.price {
    font-family: "Dancing Script", cursive;
    color: rgba(255, 255, 255, 0.5);
    font-size: medium;
}

.form-text.text-muted {
    color: #85888a !important;
    }
.container.mt-4.bg-dark {
    background-color: rgba(0, 0, 0, 0.01)!important;
    color: rgba(255, 255, 255, 0.5) !important;
}

form.bg-dark {
    background-color: rgba(0, 0, 0, 0.7) !important;
    color: rgba(255, 255, 255, 0.5) !important; 
}
h2.bg-dark {
    background-color: rgba(0, 0, 0, 0.7) !important;
    color: rgba(255, 255, 255, 0.5) !important;
}

.btn.btn-primary {
    font-family: "Dancing Script", cursive;
}
.btn.btn-dark {
    font-family: "Dancing Script", cursive;
    font-size: x-large;
    background-color: rgba(0, 0, 0, 0.05)
}
.btn.btn-outline-light {
    font-family: "Dancing Script", cursive;
    font-size: large;
}
.form-control {
    width: 100%;
}
.modal-content.bg-dark {
    background-color: rgba(0, 0, 0, 0.7) !important;
    font-family: "Dancing Script", cursive;
    color: rgba(255, 255, 255, 0.5) !important;
}
.card.bg-secondary {
    background-color: rgba(0, 0, 0, 0.5) !important;
    color: rgba(255, 255, 255, 0.5) !important;
}
.card-header small.text-muted {
    color: rgba(253, 4, 211, 0.3) !important;
}
.display-4 {
    color: #C0C0C0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-top: 4vh; 
    margin-bottom: 10vh;
    font-family: "Dancing Script", cursive;
    font-weight: 700;
}

.lead {
    color: #C0C0C0; 
    text-shadow: 6px 6px 12px rgba(0, 0, 0, 0.5);
    margin-bottom: 34vh;
    font-family: 'Dosis', sans-serif;
    font-weight: 500;
}




