{% extends "base.html" %}

{% block content %}
<div class="container contacts-container">
    <div class="row">
        <div class="col-md-6">
            <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d6051.118737372598!2d-73.9727911!3d40.6836767!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2slt!4v1700212396237!5m2!1sen!2slt" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>

        <div class="col-md-6">
            <h1 class="text-center">Contacts</h1>
            <p class="text-center"><strong>Adress:</strong> Some adress 1245-12</p>
            <p class="text-center"><strong>Phone</strong> +1255487211233</p>
            <p class="text-center"><strong>Email:</strong> makeup@megamakeup.com</p>
            <p class="text-center"><strong>Facebook:</strong> <a href="#"></a></p>
            <p class="text-center"><strong>Instagram:</strong> <a href="#"></a></p>
        </div>
    </div>
</div>
{% endblock %}
