{% extends "base.html" %}

{% block content %}
<div class="card mb-3 bg-transparent text-white shadow-none" style="max-width: 100%; border: none;">
    <div class="row g-0">
      <div class="col-md-4">
        {% if service.image %}
        <img src="{{ service.image.url }}" class="img-fluid rounded-start" alt="{{ service.name }}">
        {% endif %}
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{ service.name }}</h5>
          <p class="card-text">{{ service.description }}</p>
          <p class="card-text"><span class ="price">£{{ service.price }}</span></p>
          <div class="text-center">
            <a href="{% url 'reservation' %}" class="btn btn-dark">Book Your Visit</a>
        </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}