{% extends "base.html" %}

{% block content %}
  <h2 class="text-light bg-dark p-3">Login</h2>
  <form method="post" class="bg-dark p-4">
    {% csrf_token %}
    {% for field in form %}
      <div class="form-group text-light mb-3">
        <label for="{{ field.id_for_label }}" class="text-light">{{ field.label }}</label>
        {{ field }}
        {% if field.help_text %}
          <small class="form-text text-muted">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <div class="alert alert-danger" role="alert">
            {{ error }}
          </div>
        {% endfor %}
      </div>
    {% endfor %}
    <button type="submit" class="btn btn-primary">Login</button>
    <p class="mt-3">
      Don't have an account? <a href="{% url 'signup' %}" class="text-light">Register</a>
    </p>
    <p class="mt-3">
      <a href="{% url 'password_reset' %}" class="text-light">Forgot password?</a>
  </form>
{% endblock %}