Dear {{ user.get_username }},
We have received a request to reset your account password. We understand how important it is to regain access to your account, and we're here to assist you in the process.
To proceed with resetting your password, please click on the following link:
{{ protocol }}://{{ domain }}{% url "password_reset_confirm" uidb64=uid token=token %}
If you did not initiate this password reset request, please disregard this email, and your current password will remain unchanged.
Thank you,
MegaMakeup Team
