annotated-types
asgiref
boto3
botocore
Django
django-admin-interface
django-bootstrap-datepicker-plus
django-colorfield
django-environ
django-storages
django-tinymce
gunicorn
jmespath
packaging
Pillow
psycopg2-binary
pydantic
pydantic_core
python-dateutil
python-dotenv
python-slugify
s3transfer
six
sqlparse
text-unidecode
typing_extensions
urllib3
